@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 50% 98%;
    --foreground: 51 33% 8%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 54 69% 85%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 51 34% 9%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 54 69% 71%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "Radio Canada", sans-serif;
    color: #1a180d;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Radio Canada", sans-serif;
  }
  input {
    @apply border border-gray-300 rounded font-light py-1 px-3  w-full hover:shadow-secondary focus:shadow-secondary;
  }

  h1 {
    @apply text-2xl py-5 font-bold text-foreground;
    font-family: "Radio Canada", sans-serif;
  }
  h2 {
    @apply text-xl my-6 mt-1 font-semibold text-foreground;
    font-family: "Radio Canada", sans-serif;
  }
  h3 {
    @apply mb-6 text-lg;
  }

  h3 {
    @apply border-l-2 border-accent pl-3;
  }
  p {
    @apply text-gray-600 mb-6 text-base font-light;
  }
  .button {
    @apply block w-36 text-center bg-accent text-sm text-foreground py-2 px-3 rounded mt-2 font-medium hover:scale-105 transition-all duration-300 ease-in-out;
  }

  ul {
    @apply list-disc  my-3 font-light;
    list-style: none;
  }

  ul li {
    position: relative;
    padding-left: 40px;
  }

  ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-60%);
    width: 20px;
    height: 20px;
    background-image: url("/bullet.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  ul.header-li {
    @apply my-0;
  }
  ul.header-li li {
    position: static;
    padding-left: 0px;
  }

  ul.header-li li::before {
    content: none;
    width: 0;
    height: 0;
    background-image: none;
  }

  ul.search-li {
    @apply my-0;
  }
  ul.search-li li {
    position: static;
    padding-left: 15px;
  }

  ul.search-li li::before {
    content: none;
    width: 0;
    height: 0;
    background-image: none;
  }

  ol {
    @apply list-decimal pl-12 py-3;
  }
  li {
    @apply py-2;
  }
  table {
    @apply my-6 border border-stone-200 w-full rounded;
  }

  thead {
    @apply bg-foreground border border-foreground text-background;
  }

  th,
  td {
    @apply p-3 text-center;
  }
  .custom-quill .ql-container {
    height: 500px;
    overflow-y: auto;
  }

  .custom-quill .ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
  }

  .article-content iframe {
    @apply w-full h-[500px];
  }

  .article-content img {
    @apply w-full max-h-96 object-cover my-12;
  }

  .modal {
    @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded-lg shadow-lg transition-all duration-300 ease-in-out;
  }

  .overlay {
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 transition-all duration-300 ease-in-out;
  }
}
